Things to explore:

  * You are in a 'tmux' session. There are three tabs below.
    Navigate with <Ctrl-b> + a tab number.

  * You are already in our IRC channel in "tab 1"
    Type <Ctrl-B> + 1 to reach it and chat with us.

  * Your Hashbang email address is: $USER@hashbang.sh
    Type <Ctrl-B> + 2 to check your emails in mutt

  * You can detach from this tmux session with <Ctrl-b> + <d>
    You can also re-attach outside of tmux with 'tmux attach'
