[submodule "var/www/html/hashbang.sh"]
	path = var/www/html/hashbang.sh
        url = https://github.com/hashbang/hashbang.sh.git
[submodule "etc/skel"]
	path = etc/skel
	url = https://github.com/hashbang/dotfiles.git
[submodule "var/www/html/new.hashbang.sh"]
	path = var/www/html/new.hashbang.sh
	url = https://github.com/hashbang/provisor.git
[submodule "var/www/html/chat.hashbang.sh"]
	path = var/www/html/chat.hashbang.sh
	url = https://github.com/hashbang/chat.git
