  * To learn more about us and our offerings type: man hashbang

Like what we're doing? Consider donating to expand our efforts.
  * Bitcoin       - [ 1DtTvCLiUMhs21QcETQzLyiqxoopUjqBSU ]
  * Google Wallet - [ donate@hashbang.sh ]
  * PayPal        - [ http://goo.gl/aSQWy0 ]

