Things to explore:

  * You can start 'tmux' to enter a tmux session.
    Help will be displayed when tmux is started.

  * You can resume a detached tmux session at any time.
    Use 'tmux attach' to resume your tmux session.

  * Your Hashbang email address is $USER@hashbang.sh
    The `mutt` email client is preconfigured for you.
