From: noreply@hashbang.sh
X-Original-To: {username}@hashbang.sh
Delivered-To: {username}@hashbang.sh
MIME-Version: 1.0
From: The Local Bot <noreply@hashbang.sh>
Date: {date}
Subject: Press Enter to open this!
To: {username} <{username}@hashbang.sh>
Content-Type: text/plain

Hey! Welcome to #!

Hashbang (The name of the #! symbol) is a community-run online "hackerspace" based off of the core principle of "Teach. Learn. Make things do." We are a community dedicated to helping, teaching, and providing people with resources for educational and productive services. With this in mind, Hashbang (while being called an online hackerspace) does not support nor does it encourage the engagement of illegal or otherwise disruptive activities that may have a negative impact on the resources of other users.

The name of hashbang is based off of the symbol '#!', found at the start of a shell script. This symbol instructs the operating system what program is required to "do" something with the code. Hashbang runs the same way. We try to instruct our users on the tools and skills required to -do- whatever they want for themselves. Likewise if you want something done, -do- it yourself. Don't know how? Ask. We're here to help new people get used to a Linux/Unix environment and to start them off with making software, learning how the terminal and services work... or perhaps helping talk through a challenging work problem someone faces at a major tech company. We welcome all skill levels and backgrounds.

Software is almost never complete, and there might always be something off. Being a community-run service, hashbang encourages users to find bugs within the software and attempt to fix them. Most of our repositories are stored online on GitHub (https://github.com/hashbang) and are easily accessible. If you have any questions about any of our offerings, or just want to chat, you can switch to the first window (ctrl-B then 1) and talk to a number of other users in real time.

Thank you for taking the time to read this welcome message, and welcome to #!

To find out more try 'man hashbang' on one of the terminal tabs [ <Ctrl-b> c ]

Currently, the ~/Public folder isn't exposed over HTTP by default;
however, users can use the `SimpleHTTPServer.service` systemd unit file (in `~/.config/systemd/user`, modify it to set port) or a `@reboot` crontab entry to run `python3 -m http.server <port>` to provide a webserver exposing it.

This message will self-destruct in 10 seconds.
