---
- hosts: all
  gather_facts: false
  pre_tasks:
    - name: Install python2 for Ansible
      raw: bash -c "test -e /usr/bin/python || (apt -qqy update && apt install -qqy python-minimal)"
      register: output
      changed_when: output.stdout != ""

    - name: Gathering Facts
      setup:

    - name: Determine if we are in a docker environment
      stat: path=/.dockerenv
      register: dockerenv

    - set_fact:
        in_docker: "{{ dockerenv.stat.exists }}"

    - name: Run Docker preinit task
      include_tasks: hacks/docker.pre.yml
      when: in_docker
      ignore_errors: True

  roles:
    - apt
    - systemd-cron.d
    - systemd-journald
    - unbound

  tasks:
  - name: Include tasks files
    include_tasks: "tasks/{{ item }}/main.yml"
    with_items:
    - tor
    - hashbang
    - mail
    - profile
    - misc
    - ldap-nss
    - security
    - nginx

  - name: Run Docker postinit task
    include_tasks: hacks/docker.post.yml
    when: in_docker
    ignore_errors: True
